.task-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}
.checkbox {
}
.task-content {
}
.task-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.task-name {
}
.status {
  .icon {
    color: blue;
  }
}
.actions {
  display: flex;
  gap: 10px;
}
