.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Tự động chia cột */
  gap: 24px;
}

.boardCard {
  background: white;
  height: 120px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: space-between;

  border-left: 5px solid #4f46e5; /* Màu điểm nhấn */

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

  h3 {
    margin: 0;
    color: #1f2937;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .right {
    height: 20px;
  }
}
