.notFoundContainer {
  /* src/index.css */

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f8f9fa;
  color: #333;
}

.not-found-container h1 {
  font-size: 6rem;
  margin: 0;
  color: #dc3545; /* Màu đỏ báo lỗi */
}
