.taskCard {
  display: flex;
  justify-content: space-between;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(9, 30, 66, 0.25);
  padding: 10px;
  margin-bottom: 8px;
  cursor: grab;
  touch-action: none; // Bắt buộc cho dnd-kit trên mobile

  &:hover {
    background-color: #f4f5f7;
    box-shadow: 0 4px 8px rgba(9, 30, 66, 0.25);
  }
}

// Trạng thái khi đang kéo (Placeholder)
.isDragging {
  opacity: 0.3;
  background-color: #e4f0f6;
  border: 1px dashed #091e42;
  box-shadow: none;
}

// Trạng thái khi đang được thả trôi nổi (Overlay)
.dragOverlay {
  cursor: grabbing;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  opacity: 1 !important;
}

.title {
  font-weight: 500;
  color: #172b4d;
}
