.btn {
  display: inline-flex;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  border-radius: var(--radius-sm);
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 0.95rem;
  user-select: none;
  + .btn {
    margin-left: 8px;
  }
  &:active {
    transform: translateY(1px);
  }
  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }
}

/* Nút chính (Add) */
.primary {
  @extend .btn;
  background-color: var(--primary-color);
  color: white;

  &:hover {
    background-color: var(--primary-hover);
  }
}

/* Nút phụ (Filter, Edit) */
.secondary {
  @extend .btn;
  background-color: transparent;
  color: var(--text-muted);
  border: 1px solid var(--border-color);

  &:hover {
    background-color: white;
    border-color: var(--primary-color);
    color: var(--primary-color);
  }

  &.active {
    background-color: var(--primary-light);
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

/* Nút nguy hiểm (Delete) */
.danger {
  @extend .btn;
  background-color: transparent;
  color: var(--danger-color);
  border: 1px solid var(--border-color);
  padding: 8px 12px; /* Nhỏ hơn chút */

  &:hover {
    background-color: #fee2e2;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}
.icon {
  display: inline-block;
  width: 100%;
  text-align: center;
}
