header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  a {
    display: inline-block;
    color: inherit;
    height: 100%;
  }
}
.logo {
  display: flex;
  align-items: center;

  img {
    height: 50%;
    width: auto;
  }
}

.header-right {
  display: flex;
  gap: 20px;
}


