header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
  }
}
.logo {
  img {
    height: 50px;
  }
}

.header-right {
  display: flex;
  gap: 20px;
}
